body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.menu-left {
  height: 100vh;
  width: 25vw;
  background-color: #3a3a3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.label-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
}
.select {
  width: 75%;
  height: 3vh;
  border-color: darkgray;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  color: black;
}

.team-x-team{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
}

.team-x-team-mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75vw;
}


.team-x{
  width: 50%;
  height: 100vh;
  background: linear-gradient(#ffffff, #a6a6a6);
  filter: opacity(95%);
}

.team-x-mobile{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ffffff, #a6a6a6);
  filter: opacity(95%);
}

.input-search {
  border-radius: 5px;
  width: 50%;
  outline: none;
  border: 1px solid darkgray;
  height: 4vh;
  font-size: 16px;
  padding-left: 5px;
}

.div-search {

}

.img-team-selected {
  position: absolute;
  filter: blur(10px) opacity(30%);
  align-self: center;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

.label-search {
  width: 100%;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 15px;
  text-decoration: black;
  font-weight: bold;
  font-family: "Times New Roman", serif;
}

.div-search-team {
  background-color: white;
  border-radius: 5px;
  height: 25vh;
  overflow-y: auto;
}

.div-search-team::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

.div-search-team::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 5px;
}

.div-search-team::-webkit-scrollbar-thumb {
  background-color: #757575;
}

.div-search-team a {
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin: 5px;
  color: black;
  background-color: white;
}

.div-search-team a img{
  margin-left: 5px;
  width: 15px;
}

.tabela-teams {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #444448;
}

.jogos-teams {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #444448;
}

.tr-team-tabela {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  align-items: center;
  font-family: sans-serif;
}

.tr-team-tabela a {
  outline: none;
  text-decoration: none;
  color: white;
}

.td-team {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-google {
  background-color: #444448;
  color: white;
  width: 25%;
  height: 3vh;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  align-items: center;
  margin-left: 10px;
  outline: none;
  border-bottom: 3px solid white;
  text-align: center;
}

.div-tabela-jogos {
  max-height: 60vh;
}

.div-info-teams{
  overflow-y: auto;
  max-height: 60vh;
  width: 100%;
}

.div-info-teams::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

.div-info-teams::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 5px;
}

.div-info-teams::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}



thead {
  position: sticky;
  top: 0;
  background-color: #444448;
}

.tbody-teams{
  position: absolute;
  width: 98%;
}

.div-estatisticas-team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 15%;
  padding-left: 15%;
  align-items: center;
}

.div-info-resultados-ia {
  margin-top: 3%;
  background-color: #444448;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 5px;
  font-size: 18px;
  font-family: sans-serif;
}

.div-estatisticas-team-winner {
  height: 5vh;
  background-color: #98da98;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
}

.div-estatisticas-team-empate {
  height: 5vh;
  background-color: #a9a9a9;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-estatisticas-team-derrota {
  height: 5vh;
  background-color: #c59799;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
}
